ros2multicast==0.18.14
generate-parameter-library-py==0.5.0
launch==1.0.11
ros2action==0.18.14
examples-rclpy-minimal-action-client==0.15.4
joint-state-publisher-gui==2.4.0
quality-of-service-demo-py==0.20.6
demo-nodes-py==0.20.6
rqt-runtime-monitor==1.0.0
rqt-shell==1.0.2
ros2controlcli==2.52.0
rqt-robot-dashboard==0.5.8
rosidl-cli==3.1.7
topic-monitor==0.20.6
ament-uncrustify==0.12.14
ros2pkg==0.18.14
ros2launch==0.19.12
ros2param==0.18.14
examples-rclpy-minimal-service==0.15.4
examples-rclpy-minimal-publisher==0.15.4
ament-xmllint==0.12.14
rqt-robot-monitor==1.0.6
ament-index-python==1.4.0
ament-lint-cmake==0.12.14
rqt-dotgraph==0.0.5
rqt-bag==1.1.5
rosidl-runtime-py==0.9.3
rqt-reconfigure==1.1.2
ament-package==0.14.1
ros2lifecycle==0.18.14
ros2interface==0.18.14
urdfdom-py==1.2.1
rqt-msg==1.2.0
ros2test==0.4.0
rqt-bag-plugins==1.1.5
ament-pep257==0.12.14
rqt-service-caller==1.0.5
rpyutils==0.2.2
examples-rclpy-executors==0.15.4
rqt-py-console==1.0.2
sensor-msgs-py==4.9.0
rqt-controller-manager==2.52.0
domain-coordinator==0.10.0
launch-testing-ros==0.19.12
joint-state-publisher==2.4.0
ros2run==0.18.14
tf2-tools==0.25.16
ros2component==0.18.14
rqt-gauges==0.0.3
ros2node==0.18.14
rqt-publisher==1.5.0
rqt-topic==1.5.0
launch-xml==1.0.11
ros2topic==0.18.14
rqt-console==2.0.3
rqt-joint-trajectory-controller==2.50.1
rqt-gui-py==1.1.8
examples-rclpy-minimal-action-server==0.15.4
launch-ros==0.19.12
rqt-robot-steering==1.0.3
rqt-moveit==1.0.1
ament-clang-format==0.12.14
ament-cppcheck==0.12.14
rqt-action==2.0.1
rqt-gui==1.1.8
rqt-srv==1.0.3
ros2doctor==0.18.14
rqt==1.1.8
teleop-twist-keyboard==2.4.1
examples-rclpy-minimal-client==0.15.4
ros2bag==0.15.15
rqt-graph==1.3.1
launch-testing==1.0.11
ament-copyright==0.12.14
ament-flake8==0.12.14
examples-rclpy-minimal-subscriber==0.15.4
rqt-tf-tree==1.0.5
ament-lint==0.12.14
sros2==0.10.7
action-tutorials-py==0.20.6
ros2cli==0.18.14
ros2service==0.18.14
tf2-ros-py==0.25.16
rqt-plot==1.1.5
ament-cpplint==0.12.14
osrf-pycommon==2.1.6
launch-yaml==1.0.11
resource-retriever==3.1.3
tf2-py==0.25.16
std-srvs==4.9.0
tf2-geometry-msgs==0.25.16
lifecycle-msgs==1.2.2
unique-identifier-msgs==2.2.1
rosidl-typesupport-c==2.0.2
message-filters==4.3.11
logging-demo==0.20.6
controller-manager-msgs==2.52.0
moveit-msgs==2.2.1
example-interfaces==0.9.3
rcl-interfaces==1.2.2
nav-msgs==4.9.0
rosidl-generator-c==3.1.7
rosbag2-py==0.15.15
builtin-interfaces==1.2.2
control-msgs==4.8.0
laser-geometry==2.4.1
rosidl-generator-cpp==3.1.7
tf2-kdl==0.25.16
diagnostic-msgs==4.9.0
rosidl-generator-py==0.14.6
trajectory-msgs==4.9.0
interactive-markers==2.3.2
turtlesim==1.4.3
octomap-msgs==2.0.1
rosidl-typesupport-fastrtps-c==2.2.3
std-msgs==4.9.0
sensor-msgs==4.9.0
pcl-msgs==1.0.0
actionlib-msgs==4.9.0
rosidl-typesupport-introspection-cpp==3.1.7
action-msgs==1.2.2
pendulum-msgs==0.20.6
cv-bridge==3.2.1
rosidl-typesupport-introspection-c==3.1.7
image-geometry==3.2.1
stereo-msgs==4.9.0
rosidl-typesupport-fastrtps-cpp==2.2.3
action-tutorials-interfaces==0.20.6
statistics-msgs==1.2.2
rosgraph-msgs==1.2.2
rosbag2-interfaces==0.15.15
qt-dotgraph==2.2.4
rosidl-cmake==3.1.7
rqt-py-common==1.1.8
python-qt-binding==1.1.3
composition-interfaces==1.2.2
shape-msgs==4.9.0
rmw-dds-common==1.6.0
tf2-msgs==0.25.16
controller-manager==2.52.0
graph-msgs==0.2.0
qt-gui-py-common==2.2.4
mocap4r2-control-msgs==0.0.7
qt-gui==2.2.4
rclpy==3.3.17
rcutils==5.1.7
object-recognition-msgs==2.0.0
rosidl-adapter==3.1.7
rosidl-parser==3.1.7
tf2-sensor-msgs==0.25.16
map-msgs==2.1.0
rosidl-typesupport-cpp==2.0.2
qt-gui-cpp==2.2.4
xacro==2.1.1
geometry-msgs==4.9.0
angles==1.15.0
ament-cmake-test==1.3.12
visualization-msgs==4.9.0
srsly==2.4.8
Send2Trash==1.8.3
janus==2.0.0
fonttools==4.54.1
psutil==6.0.0
backoff==2.2.1
rfc3986-validator==0.1.1
babel==2.16.0
jupyter_core==5.7.2
pexpect==4.9.0
asttokens==2.4.1
dill==0.3.8
ipympl==0.9.5
wasabi==0.10.1
kaitaistruct==0.11
nvidia-cusolver-cu12==11.4.5.107
rhoknp==1.3.0
cachetools==7.0.1
pydantic==2.9.2
chardet==6.0.0.post1
jupyter-events==0.10.0
nvidia-cusparse-cu12==12.1.0.106
tinycss2==1.3.0
nvidia-cufft-cu12==11.0.2.54
jupyter_server==2.14.2
widgetsnbextension==3.6.9
Jinja2==3.1.4
fsspec==2024.6.1
setproctitle==1.3.7
aiohappyeyeballs==2.4.0
triton==3.0.0
jiter==0.13.0
networkx==3.3
pandas==2.2.2
certifi==2024.7.4
multiprocess==0.70.16
murmurhash==1.0.10
sentencepiece==0.2.0
cymem==2.0.8
shellingham==1.5.4
argon2-cffi-bindings==21.2.0
pycparser==2.22
click==8.1.7
rpds-py==0.20.0
anyio==4.6.2.post1
datasets==2.21.0
graphql-core==3.2.7
nvidia-nvtx-cu12==12.1.105
ptyprocess==0.7.0
matplotlib-inline==0.1.7
Werkzeug==3.1.6
urllib3==2.2.2
webcolors==24.8.0
nvidia-curand-cu12==10.3.2.106
pdfminer.six==20260107
nbformat==5.10.4
ipywidgets==7.8.4
async-timeout==4.0.3
plotly==5.24.1
mistune==3.0.2
defusedxml==0.7.1
jupyter_client==8.6.2
scikit-learn==1.5.2
notebook==7.2.2
langcodes==3.4.1
mdurl==0.1.2
jsonschema==4.23.0
prometheus_client==0.21.0
jupyter_server_terminals==0.5.3
executing==2.0.1
torch==2.4.1
scipy==1.14.1
typing_extensions==4.15.0
referencing==0.35.1
decorator==5.1.1
charset-normalizer==3.3.2
plac==1.4.3
notebook_shim==0.2.4
exceptiongroup==1.2.2
idna==3.7
SudachiDict-core==20240716
nbconvert==7.16.4
spacy-loggers==1.0.5
filelock==3.24.3
types-python-dateutil==2.9.0.20241003
mistralai==0.4.2
requests-toolbelt==1.0.0
tomli==2.0.2
threadpoolctl==3.5.0
frozenlist==1.4.1
cryptography==46.0.5
gql==4.0.0
packaging==24.1
pillow==10.4.0
arrow==1.3.0
async-lru==2.0.4
fastjsonschema==2.20.0
regex==2024.7.24
Pygments==2.18.0
sentry-sdk==2.53.0
uri-template==1.3.0
sympy==1.13.2
catalogue==2.0.10
pure_eval==0.2.3
stack-data==0.6.3
wcwidth==0.2.13
analytics-python==1.2.9
fastdownload==0.0.7
transformers==4.44.2
cycler==0.12.1
markdown-it-py==3.0.0
webencodings==0.5.1
overrides==7.7.0
beautifulsoup4==4.12.3
nvidia-cudnn-cu12==9.1.0.70
spacy-legacy==3.0.12
aiofiles==25.1.0
uv==0.7.2
tenacity==9.0.0
pathtools==0.1.2
fastcore==1.7.19
MarkupSafe==2.1.5
wandb==0.25.0
aiohttp==3.10.5
python-json-logger==2.0.7
nvidia-cuda-runtime-cu12==12.1.105
gitdb==4.0.12
multidict==6.0.5
comm==0.2.2
annotated-types==0.7.0
timm==1.0.11
numpy==1.26.4
docker-pycreds==0.4.0
tiktoken==0.12.0
fastprogress==1.0.3
jupyterlab_widgets==1.1.10
yarl==1.9.4
pyarrow==17.0.0
confection==0.1.5
weasel==0.4.1
tzdata==2024.1
parso==0.8.4
requests==2.32.3
httpcore==1.0.6
rfc3339-validator==0.1.4
intervaltree==3.2.1
kiwisolver==1.4.7
jedi==0.19.1
sniffio==1.3.1
json5==0.9.25
platformdirs==4.2.2
typer==0.12.5
ipadic==1.0.0
pyzmq==26.2.0
safetensors==0.4.4
websocket-client==1.8.0
SudachiPy==0.6.8
GitPython==3.1.46
fastai==2.7.18
matplotlib==3.9.2
jupyterlab_server==2.27.3
isoduration==20.11.0
pytz==2024.1
marisa-trie==1.2.1
smmap==5.0.2
sortedcontainers==2.4.0
fastbook==0.0.29
jsonschema-specifications==2024.10.1
pydantic_core==2.23.4
ipython==8.26.0
terminado==0.18.1
weave==0.52.28
huggingface-hub==0.24.6
xxhash==3.5.0
language_data==1.2.0
fickling==0.1.8
polyfile-weave==0.5.9
prompt_toolkit==3.0.47
soupsieve==2.6
h11==0.14.0
unidic==1.1.0
jupyterlab_pygments==0.3.0
smart-open==7.0.5
rich==13.9.2
python-dateutil==2.9.0.post0
orjson==3.10.18
nbclient==0.10.0
debugpy==1.8.5
traitlets==5.14.3
httpx==0.27.2
blis==1.0.1
argon2-cffi==23.1.0
pandocfilters==1.5.1
nvidia-nccl-cu12==2.20.5
tokenizers==0.19.1
nvidia-cublas-cu12==12.1.3.1
joblib==1.4.2
torchvision==0.19.1
aiosignal==1.3.1
protobuf==4.25.8
jupyterlab==4.2.5
ipython-genutils==0.2.0
nvidia-nvjitlink-cu12==12.6.20
ipykernel==6.29.5
contourpy==1.3.0
abnf==2.2.0
cffi==2.0.0
tornado==6.4.1
jsonpointer==3.0.0
diskcache==5.6.3
nest-asyncio==1.6.0
preshed==3.0.9
aioprocessing==2.0.1
wrapt==1.16.0
nvidia-cuda-nvrtc-cu12==12.1.105
bleach==6.1.0
mpmath==1.3.0
jupyter-lsp==2.2.5
attrs==24.2.0
emoji==2.15.0
spacy==3.8.2
cint==1.0.0
accelerate==0.33.0
thinc==8.3.2
unidic-lite==1.0.8
fqdn==1.5.1
graphviz==0.20.3
openai==2.24.0
nvidia-cuda-cupti-cu12==12.1.105
tqdm==4.66.5
cloudpathlib==0.20.0
fugashi==1.3.2
typeguard==2.2.2
ament-package==0.14.0
colcon-common-extensions==0.3.0
bcrypt==3.2.0
requests==2.25.1
distro-info==1.1+ubuntu0.2
fs==2.4.12
colorama==0.4.4
constantly==15.1.0
colcon-library-path==0.2.1
sympy==1.9
packaging==21.3
colcon-mixin==0.2.3
matplotlib==3.5.1
oauthlib==3.2.0
Brotli==1.0.9
httplib2==0.20.2
incremental==21.3.0
colcon-bash==0.5.0
snowballstemmer==2.2.0
PyYAML==5.4.1
PyQt5==5.15.6
six==1.16.0
dbus-python==1.2.18
scipy==1.8.0
py==1.10.0
Pygments==2.11.2
pycodestyle==2.8.0
pyOpenSSL==21.0.0
colcon-argcomplete==0.3.3
pytest-cov==3.0.0
colcon-metadata==0.2.5
docutils==0.17.1
Pillow==9.0.1
mccabe==0.6.1
colcon-pkg-config==0.1.0
Jinja2==3.0.3
netifaces==0.11.0
colcon-core==0.20.1
kiwisolver==1.3.2
python-apt==2.4.0+ubuntu4
wadllib==1.3.6
pydocstyle==6.1.1
certifi==2020.6.20
PyHamcrest==2.0.2
soupsieve==2.3.1
colcon-devtools==0.3.0
gast==0.5.2
pluggy==0.13.0
pycairo==1.20.1
toml==0.10.2
hyperlink==21.0.0
SecretStorage==3.3.1
appdirs==1.4.4
vcstool==0.3.0
colcon-powershell==0.4.0
colcon-zsh==0.5.0
PyQt5-sip==12.9.1
colcon-python-setup-py==0.2.9
beniget==0.4.1
unattended-upgrades==0.1
ply==3.11
colcon-override-check==0.0.1
pytest==6.2.5
colcon-notification==0.3.0
colcon-ros==0.5.0
ubuntu-pro-client==8001
lazr.uri==1.0.6
mpmath==0.0.0
cryptography==3.4.8
distro==1.7.0
jsonpointer==2.0
pyserial==3.5
command-not-found==0.3
pydot==1.4.2
beautifulsoup4==4.10.0
colcon-package-information==0.4.0
distlib==0.3.4
python-dateutil==2.8.1
roman==3.3
colcon-cd==0.2.1
rosdistro-modules==1.0.1
unicodedata2==14.0.0
argcomplete==1.8.1
PyGObject==3.42.1
ufw==0.36.1
wheel==0.37.1
colcon-output==0.2.13
pyasn1-modules==0.2.1
mpi4py==3.1.3
olefile==0.46
empy==3.3.4
webencodings==0.5.1
pythran==0.10.0
launchpadlib==1.10.16
pip==22.0.2
coverage==6.2
cycler==0.11.0
iniconfig==1.1.1
notify2==0.3
urllib3==1.26.5
rospkg-modules==1.6.0
colcon-test-result==0.3.8
pycurl==7.44.1
numpy==1.21.5
flake8==4.0.1
MarkupSafe==2.0.1
Automat==20.2.0
jsonpatch==1.32
lazr.restfulclient==0.14.4
colcon-cmake==0.2.29
catkin-pkg==1.1.0
keyring==23.5.0
pygraphviz==1.7
rospkg==1.6.0
Babel==2.8.0
configobj==5.0.6
systemd-python==234
attrs==21.2.0
psutil==5.9.0
ufoLib2==0.13.1
colcon-recursive-crawl==0.2.3
colcon-package-selection==0.2.10
setuptools==59.6.0
lz4==3.1.3+dfsg
service-identity==18.1.0
jsonschema==3.2.0
lxml==4.8.0
zope.interface==5.4.0
rosdep==0.21.0
lark==1.1.1
colcon-defaults==0.2.9
nose2==0.9.2
blinker==1.4
decorator==4.4.2
html5lib==1.1
chardet==4.0.0
pytz==2022.1
pyrsistent==0.18.1
gyp==0.1
Twisted==22.1.0
cloud-init==25.2
cov-core==1.15.0
click==8.0.3
pyparsing==2.4.7
pyasn1==0.4.8
PyJWT==2.3.0
pyflakes==2.4.0
idna==3.3
colcon-parallel-executor==0.3.0
importlib-metadata==4.6.4
colcon-installed-package-information==0.2.1
rosdistro==1.0.1
fonttools==4.29.1
jeepney==0.7.1
catkin-pkg-modules==1.1.0
zipp==1.0.0
more-itertools==8.10.0
